[Unit]
Description=Ethereum go client

[Service]
Type=simple
ExecStart=geth --syncmode light 2> /root/.ethereum/geth.log

[Install]
WantedBy=default.target
